// newslist
.grau-news-list {
  box-sizing: border-box;
  display: block;

  article.grau-news-list-item {
    background-color: #fefefe;
    padding: 0; margin: 0;

    a {
      padding: 10px;
      display: flex;
      flex-wrap:wrap;
      align-items: start;
      color: $text-color;
      .news-image {
        margin-right: 25px;
        width: 320px;
        margin-bottom: 0;
        overflow: visible;
        position: relative;
      }
      .news-content {
        flex: 1 1 1px;
      }
    }

    .news-meta {
      width: 100%;
      background-color: white;
      font-size: 0.8em;
      overflow: hidden;
      margin: 25px 0 50px 0;
      padding: 5px 10px;
      border-top: 1px solid $grau-medium-grey;
      border-bottom: 1px solid $grau-medium-grey;
      display: block;
      color: $meta-gray;
      a { display: inline-block; text-decoration: underline; padding: 0; color: $meta-gray; &:hover { color: $grau-light-blue;} }
      .post-readmore { float: right; text-align: right; &:after { margin-left: 5px; content: '>>'; } }
      &:after {
        clear: both; content: " "; display: block;
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .grau-news-list {
    article.grau-news-list-item {
      a {
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        align-items: start;

        .news-image {
          float: none;
          margin: 0 0 20px;
          width: auto;
          height: auto;
          flex: 0 1 100%;
        }
        .news-content {
          flex: 0 1 100%;
        }

      }
    }
  }
}

@media only screen and (min-width: 641px) and (max-width: 1060px) {
  .grau-news-list {
    article.grau-news-list-item {
      a {
        .news-image {
          margin-right: 25px;
          width: 160px;
          max-height: 160px;
        }
      }
    }
  }
}


/* Pagination */
.grau-pagination {
  clear:both;
  position:relative;
  line-height:13px;
  float:right;
  margin: 20px;

  span, a {
    display:block;
    float:left;
    margin: 2px 2px 2px 0;
    padding: 10px;
    text-decoration:none;
    width:auto;
    border-bottom: none;

    color: $grau-dark-grey;
    background: $grau-light-grey;

    &.current{
      background: $grau-green;
      //border-bottom: 2px solid $hm-bright-yellow;
      color: white;
    }

  }
  div.info {
    margin: 25px 0;
    padding: 15px 0;
    display: block;
    text-align: center;
  }
  a:hover{
    background: $grau-light-blue;
    color: white;
    border-bottom: none;
  }
}