
// Messages
  .woocommerce-message { background-color: $grau-green; }
  .woocommerce-info, .woocommerce-noreviews, p.no-comments { background-color: $grau-dark-blue; }

// Buttons
  button, input[type="button"], input[type="reset"], input[type="submit"], .button, .added_to_cart, .widget a.button, .site-header-cart .widget_shopping_cart a.button {
    background-color: $grau-green;
    border: 2px solid $grau-green;
    color: $white;
    font-weight: 800;

    &:hover {
      background-color: $white;
      color: $grau-green;
      border: 2px solid $grau-green;
    }

  }

  button.alt, input[type="button"].alt, input[type="reset"].alt, input[type="submit"].alt, .button.alt, .added_to_cart.alt, .widget-area .widget a.button.alt, .added_to_cart, .widget a.button.checkout {
    background-color: $grau-orange;
    border: 2px solid $grau-orange;
    color: $white;
    font-weight: 800;
    &:hover {
      color: $grau-orange;
      background-color: $white;
      border: 2px solid $grau-orange;
    }
  }

  .input-text, input[type=email], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=url], textarea {
    border: 2px solid $grau-line-grey;
    box-shadow: none;
  }

// Products in a list
  ul.products li.product {
    padding: 5px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid $grau-line-grey;

    a.woocommerce-LoopProduct-link {

    }

    span.price {
      font-weight: 800;
      font-size: 1.2em;

      ins span.amount {
        font-weight: 800;
      }

    }

    span.isnew {
      color: white;
      background-color: $grau-orange;
      padding: 3px 10px;
      font-weight: 800;
      top: 10px; left: -5px;
      position: absolute;
    }

    span.onsale {
      color: white;
      background-color: $grau-light-blue;
      padding: 3px 10px;
      font-weight: 800;
      top: 40px; left: -5px;
      position: absolute;
      border: none;
      border-radius: 0;
    }

    h2.woocommerce-loop-product__title {
      height: 50px;
    }

    &:hover {
      border-color: $grau-dark-grey;
    }

  }

  // woocommerce-product-gallery__image
.woocommerce-product-gallery__image {
  border: 1px solid $grau-line-grey;
}

@media (min-width: 768px) {

  .wc-tabs-wrapper {
    ul.tabs {
      margin-right: 0;
      width: 100%;
      display: block;
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;

      li {
        width: auto; float: left; padding: 0;
        border: 1px solid $grau-line-grey;
        border-radius: 5px 5px 0 0;
        background-color: $grau-light-grey;
        a {
          padding: 0.5em 1em;
          color: darken($grau-line-grey,10%);
          &:focus { outline: 0; }
          &:hover { color: $text-color; }
        }

        &.active {border-bottom: none; background-color: $white; }
        &.active::after { content: ""; }
      }
      //padding-top: 20px;
    }
    .panel {
      width: 100%;
      margin-top: -2px;
      border: 1px solid $grau-line-grey;
      border-radius: 0;
      padding: 20px;
    }
  }

}

.woocommerce-Tabs-panel {
  outline: none;
  &:focus {
    outline: none;
  }
}


ul.product-categories {
  li {
    a {
      font-weight: normal;
    }
    &.current-cat {
      a { color: $grau-green; font-weight: 800; }
    }
  }
}

.woocommerce-variation-price {
  .price {
    .woocommerce-Price-amount.amount {
      font-size: 2em;
      font-weight: 800;
      color: $grau-green;
    }
  }
}

.single-product div.product form.cart {
  border: 1px solid $grau-medium-grey;
  padding: 10px;
  a.reset_variations {
    color: $grau-medium-grey;
  }
}

.single-product div.product .product_meta {
  border-top: none;
  padding-top: 0.5em;
}