$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

// Hokamix colors
$hm-light-yellow:   #ffdf80;
$hm-bright-yellow:  #fed550;
$hm-dark-yellow:    #e4bf48;
$hm-light-grey:     #e5e5e5;
$hm-dark-grey:      #626262;
//$hm-blue:           #4aa7d1;
$hm-blue:           #489dd8;
$hm-light-blue:     #36bbcc;
$hm-pink:           #c214cc;
$hm-green:          #30ad63;
$hm-light-green:    #39cb74;
$hm-grau-green:     #96bf2e;
$hm-black:          #333333;

// grau Colors
$grau-green:        #95c11f;
$grau-brown:        #413d3a; // footer back
$grau-light-blue:   #009fe3;
$grau-dark-blue:    #337ab7;
$grau-light-grey:   #f5f5f5; // background-color for header
$grau-line-grey:    #cecece;
$grau-medium-grey:  #999999;
$grau-dark-grey:    #646363;
$grau-purple:       #8d2d53;
$grau-orange:       #fb7252;

$black:             $grau-dark-grey;
$white:             #ffffff;

$text-color:        $black;
$meta-gray:         #666666;
$hm-placeholder-text: #999999;

$tan:               #eceee5;

$blue:              $hm-blue;
$primary-color:     $hm-bright-yellow;
$secondary-color:   $hm-light-yellow;

$link-color:        $text-color;
$link-hover:        darken($link-color, 9%);

$border-color:      #ccc;
$disabled-gray:     #cfcfcf;