.icon {
    font-size: 10px;
    &:before {
      content:' ';
      vertical-align:middle;
      display: inline-block;
      background-image: url("../images/sprite.svg");
      background-repeat: no-repeat;
      background-size: 0em 0em;

      .no-svg & {
        background-image: url("../images/sprite.png");
      }
    }
}





