body {
  background-color: $grau-light-grey;

  div.storefront-breadcrumb {
    margin-bottom: 0;
  }

  #content {
    background-image: url(../images/grau-top-background.png);
    background-repeat: repeat-x;

    > .col-full {
      background-color: $white;
      margin-top: -10px;
      margin-bottom: 30px;
      padding: 0;
      -webkit-box-shadow: 0 1px 12px rgba(0, 0, 0, .175);
      -moz-box-shadow: 0 1px 12px rgba(0, 0, 0, .175);
      box-shadow: 0 1px 12px rgba(0, 0, 0, .175);


      #primary {
        margin-bottom: 0;
        #main { padding: 30px 2.617924em 0; }
      }

      #secondary {
        padding: 30px 2.617924em;
      }
    }
  }

  a {
    color: $grau-light-blue;
  }

}

// homepage
body.home {
  #content {
    > .col-full {
      margin-top: 0;
    }
  }
}

// Homepage styling
.page-template-template-homepage .entry-content,
.page-template-template-homepage .entry-header {
  max-width: 100%;
}

.page-template-template-homepage:not(.has-post-thumbnail) .site-main,
.page-template-template-homepage .type-page {
  padding-top: 0;
}


// titles
h1, h2, h3 { color: $grau-green; font-weight: 700; }

// aside tags and categories
.entry-taxonomy {
  .cat-links { margin-bottom: 25px; }
  .tags-links {
    a {
      margin: 0;
      border: 1px solid $grau-medium-grey;
      padding: 5px 10px 5px 10px;
      display: inline-block;
      text-decoration: none;
      &:hover {
        background-color: $grau-medium-grey;
        color: white;
      }
    }
  }
}

// change the margin top for headers
blockquote+h2,
blockquote+h3,
blockquote+h4,
blockquote+header h2,
form+h2, form+h3, form+h4, form+header h2,
ol+h2, ol+h3, ol+h4, ol+header h2,
p+h2, p+h3, p+h4, p+header h2,
table+h2, table+h3, table+h4, table+header h2,
ul+h2, ul+h3, ul+h4, ul+header h2 {
  margin-top: 1em;
}