#grau-top-footer {
  height: 43px;
  margin-top: 30px;
  background-image: url(../images/footer-top-background.png);
  background-repeat: repeat;
  position: relative;

  .footer-logo {
    width: 100px;
    height: 66px;
    margin: -30px auto 0;
    z-index: 99999;
    background-image: url(../images/footer-logo.png);
    background-repeat: no-repeat;
    position: relative;
  }
}

.site-footer {
  background-color: $grau-brown; color: $white;

  a {
    color: $white; text-decoration: underline;
    &:hover { text-decoration: none; color: $grau-light-blue; }
    &:not(.button) {color: $white; text-decoration: underline;}
  }

  .widget-title {
    font-weight: 800;
    font-size: 1.2em;
    text-align: center;
  }

  .storefront-handheld-footer-bar {
    ul.columns-3 {
      li a { color: $grau-green; }
      li.cart .count { background-color: $grau-dark-blue; font-weight: bold; }
    }
  }

}

#grau-bottom-footer {
  margin-bottom: 75px;
  background-color: $white;
  padding: 10px 0;
  position: relative;
  overflow: hidden;

  .col-full {
    .lower-footer-widget-1 {
      width: 100%; float: none; margin: 0;
      .widget, p { margin: 0;}
    }
    .lower-footer-widget-2 {
      width: 100%; float: none; margin: 0;
      .widget, p { margin: 0; }
    }
  }

  ul.menu {
    float: right;
    margin-top:10px;
    li {
      float: left;
      a {
        font-size: 0.8em;
        &:hover {
          text-decoration: underline;}
      }
      &:before { content: ""; }
      &:after { clear: both; display: block; content: " "; }
    }
  }
}

@media (min-width: 768px) {
  #grau-bottom-footer {
    margin-bottom: 0;
    background-color: $white;
    padding: 10px 0;
    position: relative;
    overflow: hidden;

    .col-full {
      .lower-footer-widget-1 {
        width: 50%; float: left; margin: 0;
        .widget, p { margin: 0;}
      }
      .lower-footer-widget-2 {
        width: 50%; float: right; margin: 0;
        .widget, p { margin: 0; }
      }
    }
  }
}