.grau-short-problemlist, .grau-short-faqlist {
  a {
    &:hover { text-decoration: underline; }
  }
}

/**
 * Related Experiences
 */
.grau-short-experiencelist {
  list-style-type: none !important;
  list-style-image: none !important;
  margin: 0 !important;
  li {
    //border: 1px solid $text-color;
    margin:10px 0 !important;
    padding: 20px !important;
    background-color: white;
    text-align: left;
    .grau-exp-image {
      float: left;
      a {
        border-bottom: none;
        img { margin: 0 !important; }
        &:hover { background-color: transparent; }
      }
    }
    .grau-exp-descr {
      width: calc(100% - 160px);
      float: right;
      text-align: left;
      .grau-experience { font-weight: bold; }
    }
    &:after { clear: both; content: " "; display: block;}
  }
}

.grau-faq-list,
.grau-problem-list,
.grau-experience-list {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  .grau-product-tags {
    margin: 0;
    margin-bottom: 10px;
    .grau-tag {
      font-size: 0.7rem;
      color: $grau-dark-grey;
      background-color: #f5f5f5;
      padding: 2px 4px;
    }
  }
}

#grau_problem_filter,
#grau_animal_filter {
  display: block;
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid $grau-line-grey;
  padding-left: 20px; padding-right: 20px;

  .grau_filter_item {
    float: left; margin-right: 10px;
  }
  &:after { clear: both; content: " "; display:block; }
}

#grau_animal_filter {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted $grau-line-grey;
}

.grau-experience-list {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;

  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  li {
    max-width: 330px;
    flex-grow: 1;

    padding: 0 !important; margin: 0 !important;

    div.li-inner {
      padding: 15px !important;
      border: solid 1px #e5e5e5;
      margin: 10px;
      height: 450px;
      overflow: hidden;
    }

    a {

      .grau-experience-image {
        border: 1px solid $grau-dark-grey;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        height: 280px;
        width: 280px;
        margin-bottom: 10px;
        opacity: 0.9;
      }
      &:hover {
        .grau-experience-image { opacity: 1; }
      }
    }

    .grau-experience-owner { font-size: 0.8em; font-weight: bold; color: $grau-dark-grey; display: inline-block; margin-right: 10px; }

  }
}

/**
 *
 */
.grau-short-problemlist, .grau-short-faqlist {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom:20px;
  li {
    //border-top: 1px solid $grau-line-grey;
    //&:last-child {
    //  border-bottom: 1px solid $grau-line-grey;
    //}
      a {
        text-decoration: none;
        padding: 0.25em 0.5em;
        display: block;
        //width: 100%;
        &:hover {
          background-color: $grau-light-grey;
          color: $text-color;
        }
      }
  }
}