.custom-logo {
  max-width: 175px;
  height: auto;
}

// dropdown minicart
#site-header-cart {
  div.widget_shopping_cart {
    border: 1px solid $grau-line-grey;
  }
}

// navigation area
button.menu-toggle {
  border-color: $grau-green;
  background-color: $white;
  color: $grau-green;
  text-transform: uppercase;
  &:before {
    color: $grau-green;
  }
  &:hover {
    border-color: $grau-green;
    background-color: $grau-green;
    color: $white;
  }
}


.storefront-primary-navigation {
  > .col-full {
    background-color: $white;

    div.menu {
      margin-top:20px;
      ul li {
        border-bottom: 1px solid $grau-line-grey; padding: 0.5em 1em;
        a { font-weight: bold; }
        &.current_page_item a { color: $grau-green; }
        ul.children li {
          a { font-weight: normal; }
          &:last-child { border-bottom: none; }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .storefront-primary-navigation {
    > .col-full {
      background-color: $grau-green;

      div.menu {
        margin-top:0;
        ul li {
          border-bottom: none; padding: 0;
        }
      }

    }
  }
}

// navigation sizes (tablet and bigger screens)
@media (min-width: 768px) {

  .site-header {
    border-bottom: none;
    .site-branding img {
      max-width: 125px;
    }
    > .col-full {
      padding:0;
    }
  }
  .storefront-primary-navigation {
    > .col-full {
      padding: 0;

      .main-navigation ul { padding-left: 1.5em; }
      .main-navigation ul.sub-menu { padding-left: 0; }
      .secondary-navigation ul { padding-left: 0; }
    }
  }

  .main-navigation ul.menu,
  ul#site-header-cart {
    margin-top: 0.5em;
  }

  .main-navigation ul li a {
    color: $white;
  }

  .main-navigation ul.menu ul.sub-menu,
  .main-navigation ul.nav-menu ul.children {
    border: 1px solid $grau-line-grey;
  }

  .main-navigation ul li a:hover,
  .main-navigation ul li:hover > a,
  .site-header ul.menu li.current-menu-item > a {
    background-color: darken($grau-green, 5%);
    color: $white;
  }


  .main-navigation ul.menu>li>a, .main-navigation ul.nav-menu>li>a,
  .site-header-cart .cart-contents {
    padding: 0.5em 1em;
  }

  .main-navigation ul li ul.sub-menu li a { color: $text-color; &:hover { color: $grau-light-blue;} }

  .col-full {
    max-width: 71.7347858333em;
  }

}