/******************************************************************
Site Name:
Author:

Stylesheet: Alert Styles

If you want to use these alerts in your design, you can. If not,
you can just remove this stylesheet.

******************************************************************/

// alerts and notices
%alert {
  margin: 10px 0;
  padding: 5px 18px;
  border: 1px solid;
}

.alert-warning {
  @extend %alert;
  border-color: darken($alert-yellow, 50%);
  color: darken($alert-yellow, 50%);
  background: lighten($alert-yellow, 25%);
}

.alert-info {
  @extend %alert;
  border-color: darken($alert-blue, 50%);
  color: darken($alert-blue, 50%);
  background: $alert-blue;
}

.alert-error {
  @extend %alert;
  border-color: darken($alert-red, 50%);
  color: darken($alert-red, 50%);
  background: $alert-red;
}

.alert-note {
  @extend %alert;
  color: darken($alert-green, 50%);
  border-color: darken($alert-green, 50%);
  background: $alert-green;
}

.grau-herecomesalist {
  @extend %alert;
  width: 100%;
  display: block;
  border-color: darken($alert-blue, 5%);
  background: $alert-blue;
  padding: 25px 50px;
  text-align: center;
}